.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: block;margin: 0 auto; 
}

.new-img {
  width: 100% ;
  height: 100% ;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  
}
.icon {
  width: 24px;
  height: 24px;
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
}
 
.ee {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon2 {
  width: 24px;
  height: 24px;
  color: red;
  display: block;margin: 0 auto;
}
